@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Core.Infrastructure.DependencyManagement;
@{
    var displayMiniProfiler = EngineContext.Current.Resolve<Nop.Core.Domain.StoreInformationSettings>().DisplayMiniProfilerInPublicStore;
}
<!DOCTYPE html>
<html class="no-js">
@Html.Partial("Head")
<body class="main">
@Html.Partial("_Notifications")
@Html.Action("EuCookieLaw", "Common")
<div id="container">
          <header class="clearfix">
      <div class="wrapper">
      @Html.Partial("Header")

    @RenderBody()

</div>
     @Html.Partial("Footer")
</body>
</html>
