  <nav id="footer-navigation" role="navigation">
        <ul>
          <li><a href="/" class="on">Home</a></li>
          <li><a href="@Url.RouteUrl("Products")">Products</a></li>
          <li><a href="@Url.RouteUrl("Topic", new { systemName = "TradeCustomers" })">Trade Customers</a></li>
          <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
          <li><a href="@Url.RouteUrl("Topic", new { systemName = "Faq" })">FAQ</a></li>
          <li><a href="@Url.RouteUrl("Contact")">@T("ContactUs")</a></li>
          <li><a href="@Url.RouteUrl("Topic", new { systemName = "SpecialOffers" })">Special Offers</a></li>
         <li><a href="@Url.RouteUrl("Topic", new { systemName = "DeliveryPolicy" })">Delivery Policy</a></li>
          <li><a href="@Url.RouteUrl("Topic", new { systemName = "PrivacyPolicy" })">Privacy Policy</a></li>
          <li><a href="@Url.RouteUrl("Topic", new { systemName = "TermsAndConditions" })">Terms and Conditions</a></li>
        </ul>
      </nav>