<head>
<meta charset="utf-8">
<title>Albion Extrusions</title>
<meta name="description" content="">
<meta name="author" content="JG1 Ltd">
<link href="favicon.ico" rel="Shortcut Icon" type="image/x-icon">
<link href="@Url.Content("~/Themes/AlbionExtrusions/Content/css/master.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/smoothness/jquery-ui-1.8.17.custom.css")" rel="stylesheet">
<script type="text/javascript" src="http://use.typekit.com/omm8ylt.js"></script>
<script type="text/javascript">    try { Typekit.load(); } catch (e) { }</script>
<script type="text/javascript" src="@Url.Content("~/Themes/AlbionExtrusions/Content/js/jquery-1.7.1.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Themes/AlbionExtrusions/Content/js/slides.min.jquery.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/public.ajaxcart.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/public.common.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<!--[if IE 8]>
    <link href="@Url.Content("~/Themes/AlbionExtrusions/Content/css/ie8.css")" rel="stylesheet">
    <![endif]-->
<!--[if IE 7]>
	<link href="@Url.Content("~/Themes/AlbionExtrusions/Content/css/ie7.css")" rel="stylesheet">
    <![endif]-->    
<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!--[if lte IE 8]>
    <script src="@Url.Content("~/Themes/AlbionExtrusions/Content/js/selectivizr.js")"></script>
    <![endif]-->
    	
 

</head>